<!DOCTYPE html>
<html>
	<head>
		<title>My First View!!</title>
	</head>
	<body>
		<h1>Hello World</h1>
		<p>This HTML code is inside of a '.erb' file in the views directory, where it belongs.</p>
		<br>
		<p>Also i would like to add a picture of a cat</p>
		<img src="https://pikdo.net/img/chonky_cats8655334524.jpg?aHR0cHM6Ly9zY29udGVudC1mcnQzLTIuY2RuaW5zdGFncmFtLmNvbS92cC9mN2I0ZjMyNzhlZTA4MzMxMjQ4NjRmOTZjZWQzNGI0My81RDhFRkJCMi90NTEuMjg4NS0xNS9lMzUvNTE4Nzc2MDJfMjk5MTYxNDUwNzcwNTY3XzE3MTkxMjAxMDM2NTE2MjEwNDVfbi5qcGc/X25jX2h0PXNjb250ZW50LWZydDMtMi5jZG5pbnN0YWdyYW0uY29tJmlnX2NhY2hlX2tleT1NVGs1TURrNE5UQXhPVFV5TnpnNE1qUTVOQSUzRCUzRC4y" alt="">
	</body>
</html>
